---
layout: page
title: Franco de Campos Engenharia
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">CONCRETIZANDO SONHOS:<br/>DE NOSSA FAMÍLIA PARA A SUA</h1>
          <p class="animated fadeInUp">Evoluir sempre, para desenvolver empreendimentos imobiliários únicos. Da compra do terreno à entrega das chaves.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Quem somos</h2>
            <p>Nós somos uma empresa familiar fundada por dois irmãos engenheiros com experiência trabalhando em grandes construtoras do país que, após mais de 10 anos trabalhando em grandes corporações, decidiram construir os sonhos e projetos que fazem de nossa Baixa Mogiana, em São Paulo, uma região cada vez mais próspera.</p>
          </div>
          <p>Oferecemos produtos diferenciados no mercado. A nossa meta vai além do compromisso da entrega do seu imóvel. Queremos encantar e surpreender cada cliente. Todo nosso trabalho é minuciosamente pensado e planejado detalhadamente, a fim de fazer com que seu sonho possa ser concretizado. E isto torna cada empreendimento incomparável.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>NÓS ACREDITAMOS EM GRANDES IDEIAS</h2>
      <p>Sabemos que nossos clientes demandam inovação e excelência. Contamos, portanto, com equipe muito experiente e integrada, profundamente comprometida com a qualidade, incluindo prazos e custos dos projetos. O cuidado começa no planejamento individualizado de cada obra, na seleção de técnicas e materiais comprovadamente eficientes e dos mais qualificados parceiros.</p>
      <p>Investe também na qualificação permanente de seu pessoal técnico e operacional, criando condições para que todos os profissionais evoluam tecnicamente, de acordo com seu interesse e possibilidade.</p>
      <a href="/work" class="btn btn-view-works">Nossos trabalhos</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Nossos serviços</h2>
        <p>Possuímos uma estrutura completa de engenharia para atender nossos clientes.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="iconify icon:ion-construct icon-inline:false icon-width:64px icon-height:64px"></i>
          <h4>Construção</h4>
          <p>Imóveis residenciais e comerciais.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="iconify icon:vs-gantt-o icon-inline:false icon-width:64px icon-height:64px"></i>
          <h4>Projetos</h4>
          <p>Arquitetônicos, estruturais, fundações, elétrico de baixa tensão, hidro-sanitário.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="iconify icon:carbon-document icon-inline:false icon-width:64px icon-height:64px"></i>
          <h4>Laudos Técnicos</h4>
          <p>Avaliação estrutural, inspeção predial, NR-12, assistência técnica e judicial.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="iconify icon:grommet-icons:user-worker icon-inline:false icon-width:64px icon-height:64px"></i>
          <h4>Gestão de Obras</h4>
          <p>Orçamentação, contratação de serviços, requisição, planejamento e acompanhamento.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="iconify icon:fluent:people-search-24-filled icon-inline:false icon-width:64px icon-height:64px"></i>
          <h4>Consultoria</h4>
          <p>Parceiros incorporadores, escolha de projetos e terrenos, análise de viabilidade físico-financeira.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="iconify icon:bx-bx-building-house icon-inline:false icon-width:64px icon-height:64px"></i>
          <h4>Regularização Imobiliária</h4>
          <p>Habite-se, água e esgoto, laudo e orientação com ART, AVCB.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="iconify icon:ion-earth icon-inline:false icon-width:64px icon-height:64px"></i>
          <h4>Geotecnia</h4>
          <p>Estudo do solo, projetos de fundações e contenções, análise de estabilidade de taludes, tratamento de solos moles.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="iconify icon:tabler:frame icon-inline:false icon-width:64px icon-height:64px"></i>
          <h4>Estruturas Metálicas</h4>
          <p>Projetos e execução.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- Content Start
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>-->
